# This file is used to specify the dependencies for the project.
# You can install these dependencies using MatBox:
#   matbox.installRequirements(toolboxRootFolder)

# fex://134212-openminds-metadata-models-for-matlab
https://github.com/openMetadataInitiative/openMINDS_MATLAB
https://github.com/ehennestad/EBRAINS-MATLAB
